<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/events/beat_bots.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Poppins:wght@100;200;400&display=swap"
        rel="stylesheet">
    <title>Beat Bots</title>
</head>
<body>
    <div class="event" id="cubicreal">
        <div class="image">
            <img src="{% static 'Static_images/beatbots.jpeg' %}"  alt="event-image">
        </div>
    
        <div class="text-right">
            <h2>BeatBots</h2>
                <p>
                    <strong>St. Vincent Pallotti College of Engineering & Technology AIVerse 1.0 Presents</strong><br>
                    <strong>🎵 BeatBots 🎵</strong><br><br>
                    <strong>"Elevate Your Ears To AI's Crescendo"</strong><br><br>

                    We are thrilled to invite you to upcoming event BeatBot whixh is a unique celebration of
                    AI-generated music and an opportunity for music enthusiasts , AI enthusiasts,and curious mind to
                    come together and explore the fascinating world of AI in music composition. <br><br>

                    📅 Date: 14th & 15th September 2023 <br>
                    🏢 Venue: <br><br>

                    Experience the chance to witness the power of AI as it creates captivating melodiies , harmonies,and
                    rhythm 🥁 roght before your eyes. <br><br>

                    🤖This event is not only for seasoned
                    musician and AI experts but also for
                    beginners who are interested in music,
                    technology,and the intersection of the
                    two. <br><br>


                    Win prizes worth up to ₹X 🎊 <br><br>

                    We look forward to welcoming you to Beat bot where music and AI converge to create an unforgettable
                    experience And celebrate the ingenuity of human and machine collaboration. <br><br>

                    For inquiries and registrations, contact: <br>
                    📞 Rohit Pathak -- +917020915100 <br>
                    📞 Tanay Bhadade -- +918766942121 <br><br>
                </p>
            
        </div>
        <div class="buttons">
            <a href="/explore">Explore more</a>
            <a href="/reg?event=3">Register</a>

        </div>
    </div>
    
</body>

</html>