<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\events\cubical_realm.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Poppins:wght@100;200;400&display=swap"
        rel="stylesheet">
    <title>Cubical Real</title>
</head>
<body>
    <div class="event" id="cubicreal">
        <div class="image">
            <img src="{% static 'Static_images/beatbots.jpeg' %}"  alt="event-image">
        </div>
    
        <div class="text-right">
            <h2>Cubical Realm</h2>
            <p> <strong>St. Vincent Pallotti College of Engineering & Technology AIVerse 1.0 Presents</strong><br>
                <strong>🎮 Cubic-Realm🎮</strong><br><br>
    
                ⚔️Hello Gamerz⚔️<br><br>
                This is your opportunity to showcase your gaming skills...
                "Embark on a pixelated odyssey where imagination mines its way into reality, as players sculpt,
                explore, and conquer boundless blocky realms in Minecraft's Ultimate Creation Gala."<br><br>
    
                📎 Registration Charges : <br>
                Rs. 100/- for duo <br>
                Rs. 70/- for solo <br><br>
                💰 Prizes worth Rs. 2,000/- <br>
                📍Competition is on 15th & 16th September 2023 <br><br>
                ▪️Laptop is mandatory <br>
                ▪️Get acquainted with rules from our rule book <br><br>
                📳 Regarding any queries contact:- <br>
                📞 Devanshu Kolhe : +919975188992 <br>
                📞 Pritish Manwatkar : +918262963069
            </p>
            
        </div><br>

        <div class="buttons">
            <a href="/explore">Explore more</a>
            <a href="/reg?event=1">Register</a>

        </div>


        
    </div>
    
</body>

</html>