<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/events/opti_ml.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Poppins:wght@100;200;400&display=swap"
        rel="stylesheet">
    <title>Opti ML</title>
</head>
<body>
    <div class="event" id="cubicreal">
        <div class="image">
            <img src="{% static 'Static_images/optiml.jpeg' %}"  alt="event-image">
            <!-- <img src="{% static 'C:\Users\PC\Desktop\AIEvent\AIevent\AIverse\static\Static_images\opti-ml.jpeg' %}"  alt="event-image"> -->
        </div>
    
        <div class="text-right">
            <h2>OptiML</h2>
                <p>
                    <strong>St. Vincent Pallotti College Of Engineering & Technology Present AIVerse 1.0</strong> <br>
                    <strong>🚀Unleash the Power of AI at OptiML🌟</strong> <br><br>

                    📅 Mark your calendars for 15th & 16th September! <br><br>

                    Get ready for an incredible adventure into the realm of AI with OptiML. It's here to reshape what's
                    possible... <br><br>

                    🌐 Dive into Two Days of Innovation: <br>
                    🔥 Ignite your curiosity with Mind-Blowing AI Insights <br>
                    🎙️ Engage in Thought-Provoking Discussions <br>
                    🏆 Win Prizes that Spark Excitement <br><br>

                    <strong>Join us as we unravel the potential of AI in every industry, from finance to healthcare, and beyond!</strong>
                    <br><br>

                    Don't miss the chance to be part of this AI extravaganza. Spread the word, invite your friends, and
                    register today! <br><br>

                    For more details contact: <br>
                    📞 Anvesh Khambadkar(coordinator): 9637250270 <br>
                    📞 Ketan Bhole(co-coordinator): 9579169514
                </p>
            
        </div>
        <div class="buttons">
            <a href="/explore">Explore more</a>
            <a href="/reg?event=4">Register</a>

        </div>
        
    </div>
    
</body>

</html>