<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/events/startup_mela.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Poppins:wght@100;200;400&display=swap"
        rel="stylesheet">
    <title>Venture Vista</title>
</head>
<body>
    <div class="event" id="cubicreal">
        <div class="image">
            <img src="{% static 'Static_images/venturevista.jpg' %}"  alt="event-image">
        </div>
    
        <div class="text-right">
            <h2>Venture Vista.AI</h2>
                <p>
                    <strong>St. Vincent Pallotti College of Engineering & Technology AIVerse 1.0 Presents</strong> <br>
                    <strong>🚀 Venture Vista.AI 🚀</strong> <br><br>
                    "Where Dreams Meet Technology" <br>
                    Join us for an innovation-packed journey at Venture Vista.AI, where technology and entrepreneurship
                    converge to shape the future! <br><br>

                    📅 Date: 15th & 16th September 2023 <br>
                    🏢 Venue: <br><br>

                    Experience the power of Technology-driven startups transforming industries: <br>
                    🚀 Mind-blowing Startup Pitches <br>
                    🎨 Innovative Design Showdown <br>
                    🌟 Technology-Driven Tech Exploration <br>
                    💡 SaaS Revolution in Business <br><br>

                    Win prizes worth up to 🎊 <br><br>

                    Don't miss this chance to ignite your startup with AI power! 🔴 <br><br>

                    For inquiries and registrations, contact: <br>
                    📞 Shantnu: 9604650588 <br>
                    📞 Ashwin: 7034839540 
                </p>
            
        </div>
        <div class="buttons">
            <a href="/explore">Explore more</a>
            <a href="/reg?event=5">Register</a>

        </div>
        
    </div>
    
</body>

</html>