<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/events/explore.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Poppins:wght@100;200;400&display=swap"
        rel="stylesheet">
    <title>Explore Event</title>
</head>

<body>
    <div class="heading">
        <h1>Explore</h1>
    </div>

    <div class="main-poster"></div>

    <div class="main-event-div">
        <div class="event" id="cubicreal">
            <div class="image">
                <img src="{% static 'Static_images/beatbots.jpeg' %}"  alt="event-image">
            </div>

            <div class="text-right">
                <h2>Cubic Realm</h2>
                <p> <strong>St. Vincent Pallotti College of Engineering & Technology AIVerse 1.0 Presents</strong><br>
                    <strong>🎮 Cubic-Realm🎮</strong><br>

                    ⚔️Hello Gamerz⚔️<br>
                    This is your opportunity to showcase your gaming skills...
                    "Embark on a pixelated odyssey where imagination mines its way into reality, as players sculpt,
                    explore, and conquer boundless blocky realms in Minecraft's Ultimate Creation Gala."<br>

                    📎 Registration Charges : <br>
                    Rs. 100/- for duo <br>
                    Rs. 70/- for solo <br>
                    💰 Prizes worth Rs. 2,000/- <br>
                    📍Competition is on 15th & 16th September 2023 <br>
                    ▪️Laptop is mandatory <br>
                    ▪️Get acquainted with rules from our rule book <br>
                    📳 Regarding any queries contact:- <br>
                    Devanshu Kolhe : 9975188992 <br>
                    Pritish Manwatkar : 8262963069
                </p>
                <a href="/reg" class="reg-btn-right">Register</a>
            </div>

        </div>

        <div class="event event-right" id="gigagen">
            <div class="text-left">
                <h2>GigaGen</h2>
                <p>
                    <strong>🎉St. Vincent Pallotti College of Engineering & Technology🎉 AIVerse 1.0
                        Presents</strong><br>
                    <strong>🤖GigaGen🤖</strong><br>
                    "A generative odyssey" <br>
                    Rig oneself out to unleash your talents and have a perpetual time at our upcoming grandeur event
                    "GigaGen 1.0" – a celebration of creativity, knowledge, and sheer fun! <br>
                    "Dive into an abyss of enticing imagination and abode of artistry at our Creative Comic Book and
                    video generation Event,Quench your thirst of passive income – where stories ideas are cherished,not
                    vilified." <br>

                    📅 Date: 15 & 16 sept 2023 <br>
                    Registration Charges : <br>
                    Rs. 120/-, 100/-, 50/- For Squad, Trio, Duo respectively. <br>
                    1st Prize Rs.1000/- <br>
                    2nd Prize Rs. 500/- <br>
                    Don't miss out on this majestic opportunity to be a part of something colossal. Mark your calendars,
                    <br>
                    invite your friends, and get ready to set the stage on fire! 🖋️🔥 <br>
                    For any inquiries, Contact Us: <br>
                    Shreerang Wankhede: 8552885205 <br>
                    Omkar Gangamwar: 8766734653 <br>
                </p>
                <a href="/reg" class="reg-btn-left">Register</a>
            </div>

            <div class="image">
                <img src="{% static 'Static_images/beatbots.jpeg' %}"  alt="event-image">

            </div>

        </div>

        <div class="event" id="beatbots">
            <div class="image">
                <img src="{% static 'Static_images/beatbots.jpeg' %}"  alt="event-image">
            </div>

            <div class="text-right">
                <h2>BeatBots</h2>
                <p>
                    <strong>St. Vincent Pallotti College of Engineering & Technology AIVerse 1.0 Presents</strong><br>
                    <strong>🎵 BeatBots 🎵</strong><br>
                    "Elevate Your Ears To AI's Crescendo"<br>

                    We are thrilled to invite you to upcoming event BeatBot whixh is a unique celebration of
                    AI-generated music and an opportunity for music enthusiasts , AI enthusiasts,and curious mind to
                    come together and explore the fascinating world of AI in music composition. <br>

                    📅 Date: 14th & 15th September 2023 <br>
                    🏢 Venue: <br>

                    Experience the chance to witness the power of AI as it creates captivating melodiies , harmonies,and
                    rhythm 🥁 roght before your eyes. <br>

                    🤖This event is not only for seasoned
                    musician and AI experts but also for
                    beginners who are interested in music,
                    technology,and the intersection of the
                    two. <br>


                    Win prizes worth up to ₹X 🎊 <br>

                    We look forward to welcoming you to Beat bot where music and AI converge to create an unforgettable
                    experience And celebrate the ingenuity of human and machine collaboration. <br>

                    For inquiries and registrations, contact: <br>
                    Rohit Pathak -- 7020915100 <br>
                    Tanay Bhadade -- 8766942121 <br>
                </p>
                <a href="/reg" class="reg-btn-right">Register</a>
            </div>

        </div>
        <div class="event event-right" id="optiml">

            <div class="text-left">
                <h2>OptiML</h2>
                <p>
                    <strong>St. Vincent Pallotti College Of Engineering & Technology Present AIVerse 1.0</strong> <br>
                    <strong>🚀Unleash the Power of AI at OptiML! 🌟</strong> <br>

                    📅 Mark your calendars for 15th & 16th September! <br>

                    Get ready for an incredible adventure into the realm of AI with OptiML. It's here to reshape what's
                    possible... <br>

                    🌐 Dive into Two Days of Innovation: <br>
                    🔥 Ignite your curiosity with Mind-Blowing AI Insights <br>
                    🎙️ Engage in Thought-Provoking Discussions <br>
                    🏆 Win Prizes that Spark Excitement <br>

                    Join us as we unravel the potential of AI in every industry, from finance to healthcare, and beyond!
                    <br>

                    Don't miss the chance to be part of this AI extravaganza. Spread the word, invite your friends, and
                    register today! <br>

                    For more details contact: <br>
                    📞Anvesh(coordinator): 9637250270 <br>
                    📞Ketan(co-coordinator): 9579169514
                </p>
                <a href="/reg" class="reg-btn-left">Register</a>
            </div>

            <div class="image">
                <img src="{% static 'Static_images/beatbots.jpeg' %}"  alt="event-image">
            </div>

        </div>
        <div class="event" id="venturevista">
            <div class="image">
                <img src="{% static 'Static_images/venturevista.jpg' %}" alt="event-image">
            </div>

            <div class="text-right">
                <h2>Venture Vista.AI</h2>
                <p>
                    <strong>St. Vincent Pallotti College of Engineering & Technology AIVerse 1.0 Presents</strong> <br>
                    <strong>🚀 Venture Vista.AI 🚀</strong> <br>
                    "Where Dreams Meet Technology" <br>
                    Join us for an innovation-packed journey at Venture Vista.AI, where technology and entrepreneurship
                    converge to shape the future! <br>

                    📅 Date: 15th & 16th September 2023 <br>
                    🏢 Venue: <br>

                    Experience the power of Technology-driven startups transforming industries: <br>
                    🚀 Mind-blowing Startup Pitches <br>
                    🎨 Innovative Design Showdown <br>
                    🌟 Technology-Driven Tech Exploration <br>
                    💡 SaaS Revolution in Business <br>

                    Win prizes worth up to 🎊 <br>

                    Don't miss this chance to ignite your startup with AI power! 🔴 <br>

                    For inquiries and registrations, contact: <br>
                    📞 Shantnu: 9604650588 <br>
                    📞 Ashwin: 7034839540 
                </p>
                <a href="/reg" class="reg-btn-right">Register</a>
            </div>

        </div>

    </div>
</body>

</html>
