<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <title>Master page</title>
</head>

<body>
    <header class="navbar">
        <div class="header">
            <div id="logo">
                <a href="index.html">
                    <h1>AIverse.</h1>
                </a>
            </div>
            <div class="menu">
                <ul class='menu-links'>
                    <li><a href="/logout">LOGOUT</a></li>
                </ul>
            </div>

        </div>
    </header>

    <div class="button">
        <a href="#">Convert into Excel</a>
        <a href="#">Registration - CR</a>
        <a href="#">Registration - GG</a>
        <a href="#">Registration - BB</a>
        <a href="#">Registration - O-ML</a>
        <a href="#">Registration - VV</a>
        <a href="#">Admin Ecxel Download</a>

    </div><br>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Event</th>
            <th>Branch</th>
            <th>Year</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Team Size</th>
            <th>Team Members</th>
            <th>ScreeShot</th>
            <th>Transaction ID</th>
            <th>Date</th>
             <th>Signature</th>
        </tr>
         {% for i in data %}
        <tr>
            <td>{{i.fields.Name}}</td>
            <td>{{i.fields.Event}}</td>
            <td>{{i.fields.Branch}}</td>
            <td>{{i.fields.Year}}</td>
            <td>{{i.fields.Email}}</td>
            <td>{{i.fields.Contact}}</td>
            <td>{{i.fields.Team_Size}}</td>
            <td>{{i.fields.Team_member}}</td>
            <td>{{i.fields.Screenshot}}</td>  <!-- <img src='/media/{{i.fields.Screenshot}}'>-->
            <td>{{i.fields.Transaction_ID}}</td>
            <td>{{i.fields.Date}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>
